*.local.*

# Composer
composer.phar
composer.lock
vendor/

# IDEs
.idea/

# Mac
.DS_Store
.DS_Store?
.Trashes/
__MACOSX/

# Windows
Thumbs.db
desktop.ini

# Generic
._*
*~
*.bak
*.old
*.tmp
*.orig
*.cache
*.log
*.swp
bak
old
tmp
orig
cache
log
swp
